crewai==0.108.0
crewai_tools==0.38.1
python-dotenv>=1.0.0
litellm>=1.34.10
python-dotenv
PyMuPDF==1.22.3
pandas
openai
google-generativeai
PyYAML==6.0.2
openpyxl
markdown
pdfkit
python-docx
litellm
PyMuPDF
git+https://github.com/NikhilVijayakumar/Amsha.git@master#egg=Amsha

